h1 {
    font-family: 'Quicksand', sans-serif, monospace;
    color: white;
    font-size: 50px;
    font-weight: 300;
    text-align: center;    
}

h2 {
  font-family: 'Quicksand', sans-serif, monospace;
  color: white;
  font-size: 20px;
  text-align: center;
}

body {
    background:
        linear-gradient(135deg, rgb(138, 229, 83) 0%,
            rgb(138, 229, 83) 22%,
            rgb(110, 203, 71) 22%,
            rgb(110, 203, 71) 28%,
            rgb(83, 176, 59) 28%,
            rgb(83, 176, 59) 72%,
            rgb(55, 150, 47) 72%,
            rgb(55, 150, 47) 100%) fixed;
}
